html {
  scroll-behavior: smooth;
}

/* Local Fonts */
@font-face {
  font-family: "Metropolis_ExtraLight";
  src: url("../fonts/metropolis-extralight-webfont.woff2") format("woff2"), url("../fonts/metropolis-extralight-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Metropolis_Regular";
  src: url("../fonts/metropolis-regular-webfont.woff2") format("woff2"), url("../fonts/metropolis-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Metropolis_SemiBold";
  src: url("../fonts/metropolis-semibold-webfont.woff2") format("woff2"), url("../fonts/metropolis-semibold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NewYorkExtraLarge_Medium";
  src: url("../fonts/newyorkextralarge-medium-webfont.woff2") format("woff2"), url("../fonts/newyorkextralarge-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.break-mob {
  display: inline;
}

@media (min-width: 2050px) {
  .container {
    max-width: 1280px;
  }
}

@media (min-width: 1440px) {
  .img-1440 img {
    max-width: 1440px;
  }
}

@media (min-width: 768px) {
  .top-navbar {
    display: inline-flex !important;
  }
}

@media (max-width: 768px) {
  .break-mob {
    display: none;
  }
}

/* button arrow animation */
.btn-arrow {
  padding-right: 2rem !important;
}
.btn-arrow .arrow-icon {
  display: inline-block;
  transform: translateX(10px);
  transition: 0.3s ease-in-out;
}
.btn-arrow .arrow-icon--circle {
  transition: 0.3s ease-in-out;
  transform: translateX(0px);
}
.btn-arrow:hover .arrow-icon {
  animation: arrowHover 1s;
}
.btn-arrow:hover .arrow-icon--circle {
  animation: arrowHoverCircle 1s;
}

@keyframes arrowHover {
  0% {
    transform: translateX(10px);
  }
  30% {
    transform: translateX(5px);
  }
  80% {
    transform: translateX(15px);
  }
  100% {
    transform: translateX(10px);
  }
}
@keyframes arrowHoverCircle {
  0% {
    transform: translateX(0px);
  }
  30% {
    transform: translateX(-5px);
  }
  80% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0px);
  }
}

/* form selection in request a quote page */
.form-select {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23a0aec0'%3e%3cpath d='M15.3 9.3a1 1 0 0 1 1.4 1.4l-4 4a1 1 0 0 1-1.4 0l-4-4a1 1 0 0 1 1.4-1.4l3.3 3.29 3.3-3.3z'/%3e%3c/svg%3e");
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-print-color-adjust: exact;
  color-adjust: exact;
  background-repeat: no-repeat;
  background-position: right 0.5rem center;
  background-size: 1.5em 1.5em;
}

.form-select::-ms-expand {
  border: none;
}

@media not print {
  .form-select::-ms-expand {
    display: none;
  }
}

@media print and (-ms-high-contrast: active), print and (-ms-high-contrast: none) {
  .form-select {
    padding-right: 0.75rem;
  }
}

/* switch image on hover */
.hover-switch > svg:last-of-type {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -webkit-transition: opacity 0.5s ease-in-out;
}

.switch:hover .hover-switch > svg:last-of-type {
  opacity: 0;
}
