/* Local Fonts */
@font-face {
  font-family: "NewYorkExtraLarge-Medium";
  src: ("../fonts/NewYorkExtraLarge-Medium.eot");
  src: local("New York Extra Large Medium"), local("NewYorkExtraLarge-Medium"), ("../fontsNewYorkExtraLarge-Medium.eot?#iefix") format("embedded-opentype"), ("../fontsNewYorkExtraLarge-Medium.woff2") format("woff2"), ("../fontsNewYorkExtraLarge-Medium.woff") format("woff"),
    ("../fontsNewYorkExtraLarge-Medium.ttf") format("truetype"), ("../fontsNewYorkExtraLarge-Medium.svg#NewYorkExtraLarge-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Metropolis-ExtraLight";
  src: ("../fontsMetropolis-ExtraLight.eot");
  src: local("Metropolis Extra Light"), local("Metropolis-ExtraLight"), ("../fontsMetropolis-ExtraLight.eot?#iefix") format("embedded-opentype"), ("../fontsMetropolis-ExtraLight.woff2") format("woff2"), ("../fontsMetropolis-ExtraLight.woff") format("woff"),
    ("../fontsMetropolis-ExtraLight.ttf") format("truetype"), ("../fontsMetropolis-ExtraLight.svg#Metropolis-ExtraLight") format("svg");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Metropolis-SemiBold";
  src: ("../fontsMetropolis-SemiBold.eot");
  src: local("Metropolis Semi Bold"), local("Metropolis-SemiBold"), ("../fontsMetropolis-SemiBold.eot?#iefix") format("embedded-opentype"), ("../fontsMetropolis-SemiBold.woff2") format("woff2"), ("../fontsMetropolis-SemiBold.woff") format("woff"),
    ("../fontsMetropolis-SemiBold.ttf") format("truetype"), ("../fontsMetropolis-SemiBold.svg#Metropolis-SemiBold") format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Metropolis-Regular";
  src: ("../fontsMetropolis-Regular.eot");
  src: local("Metropolis Regular"), local("Metropolis-Regular"), ("../fontsMetropolis-Regular.eot?#iefix") format("embedded-opentype"), ("../fontsMetropolis-Regular.woff2") format("woff2"), ("../fontsMetropolis-Regular.woff") format("woff"), ("../fontsMetropolis-Regular.ttf") format("truetype"),
    ("../fontsMetropolis-Regular.svg#Metropolis-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.break-mob {
  display: inline;
}

@media (min-width: 2050px) {
  .container {
    max-width: 1280px;
  }
}

@media (min-width: 768px) {
  .top-navbar {
    display: inline-flex !important;
  }
}

@media (max-width: 768px) {
  .break-mob {
    display: none;
  }
}

/* button arrow animation */
.btn-arrow {
  padding-right: 2rem !important;
}
.btn-arrow .arrow-icon {
  display: inline-block;
  transform: translateX(10px);
  transition: 0.3s ease-in-out;
}
.btn-arrow .arrow-icon--circle {
  transition: 0.3s ease-in-out;
  transform: translateX(0px);
}
.btn-arrow:hover .arrow-icon {
  animation: arrowHover 1s;
}
.btn-arrow:hover .arrow-icon--circle {
  animation: arrowHoverCircle 1s;
}

@keyframes arrowHover {
  0% {
    transform: translateX(10px);
  }
  30% {
    transform: translateX(5px);
  }
  80% {
    transform: translateX(15px);
  }
  100% {
    transform: translateX(10px);
  }
}
@keyframes arrowHoverCircle {
  0% {
    transform: translateX(0px);
  }
  30% {
    transform: translateX(-5px);
  }
  80% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0px);
  }
}

/* social media footer animation */
@keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  60% {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}
footer .nn-social-icon {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}
footer .nn-social-icon:hover {
  cursor: pointer;
  animation-name: bounce;
  -moz-animation-name: bounce;
}
